;
; [Gromov, MPIC, 2007-2020]
;
; im-tag configuration file
;
; #N# CO sink kinetic isotope effects tagging
; #K# k
;
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
;   ! do not use comments on the section header lines (i.e. [SUB])

; === general tagging information ==============================================
[TAG]
 cmodel=messy_mecca                ; carrier model (interface) prefix
 configuration=COSK                ; tagging abbr (can be TAG1 or I or ISO, any F90 identifier-correct)
 classes=E13 E18 E17 E13p E18p E17p ; number of tagging classes (# of isotopologues)
 iatom=                            ; isotope-atom name: optional
 imasses=                          ; isotope masses
 kieproc=tag_COSK.kie              ; KIE-procesing file: optional
;budget=CH4 CH4d CH4ee
;dots=CH4 C5H8 ISOP > CO           ; create dot files ( src1 src2 > dst1 dst2 )


; --- user configuration parameters --------------------------------------------
; (will be passed to the generated code as conditional #define)
[CPARAMS]
;ISO                 ; general flag for isotopic cfg
 FRAC                ; general for fractional tagging

; initialisation units
;UNIT_DELTAPERMIL    ; as delta values
 UNIT_FRACMIN        ; as minor class fractions
;ONLY_MINOR          ; specify if only minor isotopologues should be treated, use with atom(s) = 1

; optional parameters
;OPT_LOW_FILTER      ; tagging: treshold cutoff optimisation
;OPT_C2R_FILTER      ; filter only largely deviated species in correct2reg
;OPT_USE_KRSIND      ; use kie-relates species indices for correction
;OPT_NEG_FILTER      ; check negative overshooting
;OPT_EXC_FILTER      ; check overshooting for fractional tagging

 OPT_NO_CORR         ; switch off regular <-> tagged mechs correction
;OPT_CORR_2TAG       ; specify if correction is done with tagged mech as a reference
;OPT_FTOT_WRTTAG     ; calculate fractions of totals w.r.t. to the tagged mech (not default)

; tests
;ZERO_TEST           ; rare isotopologues initialized with 0 permil rel. to standard
;NULL_TEST           ; rare isotopologues / fraction are initialised emptied

; can be used only on SMIL-level, so taken out to {%CMODEL}_parameters.inc
 INITFAST_E5         ; fast first-step initialization of tagged species in E5M1/EMAC

; debug
;DEBUG
;DEEPDEBUG           ; gives lots of repetitive messages


; --- MECCA-specific parameters ------------------------------------------------
[MECCA]
 sisyntax=ind_@                         ; species index syntax
 ptsyntax=XPT@                          ; passive tracers naming
 trsyntax=TAG@                          ; tagged reaction naming
 eqn={%CMODEL}_{%CASE}.eqn              ; modified equation file
 spc={%CMODEL}_{%CASE}.spc              ; modified additional species file

 tracdef={%CMODEL}_{%TAG}.tex           ; additional tracers definition file
 cfgeqn={%CMODEL}_{%TAG}.eqn            ; configuration equation file to produce
 cfgspc={%CMODEL}_{%TAG}.spc            ; configuration species file to produce


; --- templates for tagging modules --------------------------------------------

; > these files are created to inter-connect all tagging configurations
[CODE]
 imtag_tag_common.f90={%CMODEL}_tag_common.f90          ; SMCL shared routines former
 imtag_param.inc={%CMODEL}_tag_parameters.inc           ; INCLUDE-file for tagging parameters (compilation/link)
 imtag_tag_box.f90={%CMODEL}_tag_box.f90                ; SMIL boxmodel driver former
 imtag_tag_si.f90={%CMODEL}_tag_si.f90                  ; SMIL si driver former

; > these files are created for each tagging configuration
[CODE:CONF]
 imtag_cfg.f90={%CMODEL}_{%TAG}.f90                     ; SMCL tagging cfg code former
 imtag_cfg_box.f90={%CMODEL}_{%TAG}_box.f90             ; SMIL CAABA tagging cfg code former
 imtag_cfg_si.f90={%CMODEL}_{%TAG}_si.f90               ; SMIL si tagging configuration code former


; === list of species to tag ===================================================
[SPC]
; syntax:
;  12C-13C/16O-17O-18O example, [ ] - optional, * - indicates fixed species
;
; /units = delta/
;  SPEC [atoms] = [d13C]      [*] ->  CO     1 = -20.0
;  SPEC [atoms] = [d17O d18O] [*] ->  CO     1 =   0.0  4.2
; /units = fraction/
;  SPEC [atoms] = [f13C]      [*] ->  C2H5OH 2 = 0.1
;  SPEC [atoms] = [f17O f18O] [*] ->  C2H5OH 2 = 0.004 0.002
;
; - optinal [atoms] value overrides those picked from SPC file
; - for molecular/fractional tagging all atom qties. should be set to 1 (supresses specific isotopic transfer)
;

;

;                e13  e18  e17  e13p e18p e17p
  CO        1 =  1.   1.   1.   1.   1.   1.   L
; CO2       1 =  1.   1.   1.   1.   1.   1.   P ; -- careful! produces spurious enrichment through CO2+hv!

[-ADD:SPC]
[-ADD:EQN]
; no additional species/reactions

[-IEX]
; - test isotope exchange reaction ---------------------------------------------
; par. similar to (R33) -> Greenblatt and Howard (1989)

[-KIE:RMA]
; - isotope exchange test KIE --------------------------------------------------

; === kinetic isotope effect section ===========================================
[KIE]
; react.#     = isotopologue  expression (*-like)
; warning: reaction abbr. and spec. names are regexps

; proper regexps should cover
; - PM:Tans experiment
; - effective enrichment estimation

; - CO oxidation ---------------------------------------------------------------
  G4110   E13pCO   = /r_G4110_k12_k13_p2
  G4110   E18pCO   = /r_G4110_k16_k18_p2
  G4110   E17pCO   = /r_G4110_k16_k17_p2

  G4110   E13CO    = /r_G4110_k12_k13
  G4110   E18CO    = /r_G4110_k16_k18
  G4110   E17CO    = /r_G4110_k16_k17


; === sources specification section ============================================
; use xxxSRC to turn off temporarily source spec.
[SRC]
; react.# = src.species
;G9999     = CO
;J4111     = TC

; all CO counterparts are produced with the same rate as original CO
; !G4110  CO = CO
; done via xmecca hack


; === END OF DATA ==============================================================

; --- notes --------------------------------------------------------------------
;
; parameters identifiers are case-sensitive!
; allowed delimiters: space, tab, null, esc, ':', ';'
; ';' starts a comment,
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
; please do not use spaces in filenames
;   template variables can be used only in keys names and values, not in the headers
;   there are no conditional blocks
;
; EOF
