;
; [Gromov, MPIC, 2007-2012]
;
; im-tag configuration file
;
; #N# MIF isotopic oxygen - Delta-17O tagging
; #K# 7
;
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
;   ! do not use comments on the section header lines (i.e. [SUB])

; === general tagging information ==============================================
[TAG]
cmodel=messy_mecca                     ; carrier model (interface) prefix
configuration=FO17
classes=FO17                           ; tagging classes (for isotopologues: can indicate masses)
iatom=O                                ; atom name: optional
imasses=                               ; isotope masses
kieproc=tag_IO.kie                     ; KIE-procesing file
budget=CO HCHO O3 C5H8 OH


; --- user configuration parameters --------------------------------------------
; (will be passed to the generated code as conditional #define)
[CPARAMS]
;ISO                 ; general flag for isotopic cfg
 FRAC                ; general for fractional tagging

; initialisation units
;UNIT_DELTAPERMIL    ; as delta values
 UNIT_FRACMIN        ; as minor class fractions

; optional parameters
;OPT_LOW_FILTER      ; tagging: treshold cutoff optimisation
;OPT_C2R_FILTER      ; filter only largely deviated species in correct2reg
;OPT_USE_KRSIND      ; use kie-relates species indices for correction
;OPT_NEG_FILTER      ; check negative overshooting
 OPT_EXC_FILTER      ; check overshooting for fractional tagging

 OPT_NO_CORR         ; switch off regular <-> tagged mechs correction
;OPT_CORR_2TAG       ; specify if correction is done with tagged mech as a reference
;OPT_FTOT_WRTTAG     ; calculate fractions of totals w.r.t. to the tagged mech (not default)

; tests
;ZERO_TEST           ; rare isotopologues initialized with 0 permil rel. to standard
;NULL_TEST           ; rare isotopologues / fraction are initialised emptied

; specific for D17O
 NO_POSSCAVXTTE      ; account only for negative scavenging tendency

; can be used only on SMIL-level, so taken out to {%CMODEL}_parameters.inc
;INITFAST_E5         ; fast first-step initialization of tagged species in E5M1/EMAC

; debug
;DEBUG
;DEEPDEBUG           ; gives lots of repetitive messages


; --- MECCA-specific parameters ------------------------------------------------
[MECCA]
sisyntax=ind_@                         ; species index syntax
ptsyntax=XPT@                          ; passive tracers naming
trsyntax=TAG@                          ; tagged reaction naming
eqn={%CMODEL}_{%CASE}.eqn              ; modified equation file
spc={%CMODEL}_{%CASE}.spc              ; modified additional species file

tracdef={%CMODEL}_{%TAG}.tex           ; additional tracers definition file
cfgeqn={%CMODEL}_{%TAG}.eqn            ; configuration equation file to produce
cfgspc={%CMODEL}_{%TAG}.spc            ; configuration species file to produce


; --- templates for tagging modules --------------------------------------------

; > these files are created to inter-connect all tagging configurations
[CODE]
imtag_tag_common.f90={%CMODEL}_tag_common.f90          ; SMCL shared routines former
imtag_param.inc={%CMODEL}_tag_parameters.inc           ; INCLUDE-file for tagging parameters (compilation/link)
imtag_tag_box.f90={%CMODEL}_tag_box.f90                ; SMIL boxmodel driver former
imtag_tag_si.f90={%CMODEL}_tag_si.f90                  ; SMIL si driver former

; > these files are created for each tagging configuration
[CODE:CONF]
imtag_cfg.f90={%CMODEL}_{%TAG}.f90                     ; SMCL tagging cfg code former
imtag_cfg_box.f90={%CMODEL}_{%TAG}_box.f90             ; SMIL CAABA tagging cfg code former
imtag_cfg_si.f90={%CMODEL}_{%TAG}_si.f90               ; SMIL si tagging configuration code former


; --- list of species to tag ---------------------------------------------------
[SPC]
; syntax:
;  12C-13C/16O-17O-18O example, [ ] - optional, * - indicates fixed species
;
; /units = delta/
;  SPEC [atoms] = [d13C]      [*] ->  CO     1 = -20.0
;  SPEC [atoms] = [d17O d18O] [*] ->  CO     1 =   0.0  4.2
; /units = fraction/
;  SPEC [atoms] = [f13C]      [*] ->  C2H5OH 2 = 0.1
;  SPEC [atoms] = [f17O f18O] [*] ->  C2H5OH 2 = 0.004 0.002
;
; - optinal [atoms] value overrides those picked from SPC file
; - for molecular/fractional tagging all atom qties. should be set to 1 (supresses specific isotopic transfer)
;
;          O-atoms                      from_box      dc17O
  OH       1 =         (12.41-23.50*0.5281)/1000.     0.0
  O1D      1 =         (12.41-23.50*0.5281)/1000.     0.0
  O3P      1 =         (12.41-23.50*0.5281)/1000.     0.0
  O2       2 =         (12.41-23.50*0.5281)/1000.     0.0
  O3       3 =         (50.52-95.50*0.5281)/1000.     0.0
  HO2      2 =         (12.41-23.50*0.5281)/1000.     0.0
  H2O      1 =          (0.00-00.00*0.5281)/1000.     0.0
  H2O2     2 =         (21.16-40.00*0.5281)/1000.     0.0
  N2O      1 =         (12.41-23.50*0.5281)/1000.     0.0
  NO       1 =         (12.41-23.50*0.5281)/1000.     0.0
  NO2      2 =         (12.41-23.50*0.5281)/1000.     0.0
  NO3      3 =         (12.41-23.50*0.5281)/1000.     0.0
  N2O5     5 =         (12.41-23.50*0.5281)/1000.     0.0
  HONO     2 =         (12.41-23.50*0.5281)/1000.     0.0
  HNO3     3 =         (12.41-23.50*0.5281)/1000.     0.0
  HNO4     4 =         (12.41-23.50*0.5281)/1000.     0.0
  CH3OH    1 =          (7.92-15.00*0.5281)/1000.     0.0
  CH3O2    2 =          (7.92-15.00*0.5281)/1000.     0.0
  CH3OOH   2 =          (7.92-15.00*0.5281)/1000.     0.0
  HCHO     1 =          (7.92-15.00*0.5281)/1000.     0.0
  CO       1 =          (0.00-00.00*0.5281)/1000.     0.0
  HCOOH    2 =          (7.92-15.00*0.5281)/1000.     0.0
  CO2      2 =         (22.22-42.00*0.5281)/1000.     0.0
  C2H5O2     2 =          (7.92-15.00*0.5281)/1000.     0.0
  C2H5OOH    2 =          (7.92-15.00*0.5281)/1000.     0.0
  CH3CHO   1 =          (7.92-15.00*0.5281)/1000.     0.0
  CH3CO2H  2 =          (7.92-15.00*0.5281)/1000.     0.0
  CH3CO3       3 =          (7.92-15.00*0.5281)/1000.     0.0
  CH3CO3H      3 =          (7.92-15.00*0.5281)/1000.     0.0
  NACA     4 =          (7.92-15.00*0.5281)/1000.     0.0
  PAN      5 =          (7.92-15.00*0.5281)/1000.     0.0
  IC3H7O2     2 =          (7.92-15.00*0.5281)/1000.     0.0
  IC3H7OOH    2 =          (7.92-15.00*0.5281)/1000.     0.0
  LHOC3H6O2   3 =          (7.92-15.00*0.5281)/1000.     0.0
  LHOC3H6OOH  3 =          (7.92-15.00*0.5281)/1000.     0.0
  CH3COCH3 1 =          (7.92-15.00*0.5281)/1000.     0.0
  CH3COCH2O2   3 =          (7.92-15.00*0.5281)/1000.     0.0
  HYPERACET    3 =          (7.92-15.00*0.5281)/1000.     0.0
  ACETOL   2 =          (7.92-15.00*0.5281)/1000.     0.0
  MGLYOX 2 =          (7.92-15.00*0.5281)/1000.     0.0
  MPAN     5 =          (7.92-15.00*0.5281)/1000.     0.0
  IC3H7NO3   3 =          (7.92-15.00*0.5281)/1000.     0.0
  LC4H9O2   2 =          (7.92-15.00*0.5281)/1000.     0.0
  LC4H9OOH  2 =          (7.92-15.00*0.5281)/1000.     0.0
  MVK      1 =          (7.92-15.00*0.5281)/1000.     0.0
  MVKO2    4 =          (7.92-15.00*0.5281)/1000.     0.0
  MVKOOH   4 =          (7.92-15.00*0.5281)/1000.     0.0
  MEK      1 =          (7.92-15.00*0.5281)/1000.     0.0
  LMEKO2    4 =          (7.92-15.00*0.5281)/1000.     0.0
  LMEKOOH   1 =          (7.92-15.00*0.5281)/1000.     0.0
  BIACET   2 =          (7.92-15.00*0.5281)/1000.     0.0
  LC4H9NO3     3 =          (7.92-15.00*0.5281)/1000.     0.0
  ISO2     3 =          (7.92-15.00*0.5281)/1000.     0.0
  ISOOH    3 =          (7.92-15.00*0.5281)/1000.     0.0
  ISON     3 =          (7.92-15.00*0.5281)/1000.     0.0
  ClO      1 =          (7.92-15.00*0.5281)/1000.     0.0
  HOCl     1 =          (7.92-15.00*0.5281)/1000.     0.0
  Cl2O2    2 =          (7.92-15.00*0.5281)/1000.     0.0
  OClO     2 =          (7.92-15.00*0.5281)/1000.     0.0
  ClNO2    2 =          (7.92-15.00*0.5281)/1000.     0.0
  ClNO3    3 =          (7.92-15.00*0.5281)/1000.     0.0
  BrO      1 =          (7.92-15.00*0.5281)/1000.     0.0
  HOBr     1 =          (7.92-15.00*0.5281)/1000.     0.0
  BrNO2    2 =          (7.92-15.00*0.5281)/1000.     0.0
  BrNO3    3 =          (7.92-15.00*0.5281)/1000.     0.0
  IO       1 =          (7.92-15.00*0.5281)/1000.     0.0
  OIO      2 =          (7.92-15.00*0.5281)/1000.     0.0
  I2O2     2 =          (7.92-15.00*0.5281)/1000.     0.0
  HOI      2 =          (7.92-15.00*0.5281)/1000.     0.0
  HIO3     3 =          (7.92-15.00*0.5281)/1000.     0.0
  INO2     2 =          (7.92-15.00*0.5281)/1000.     0.0
  INO3     2 =          (7.92-15.00*0.5281)/1000.     0.0
  SO2      2 =          (7.92-15.00*0.5281)/1000.     0.0
  H2SO4    4 =          (7.92-15.00*0.5281)/1000.     0.0
  CH3SO3H  3 =          (7.92-15.00*0.5281)/1000.     0.0
  DMSO     1 =          (7.92-15.00*0.5281)/1000.     0.0
  CH3SO2   2 =          (7.92-15.00*0.5281)/1000.     0.0
  CH3SO3   3 =          (7.92-15.00*0.5281)/1000.     0.0


[ADD:EQN]

; === additional MIF producing reactions =======================================

;# parameterized p,t-dependence (CR2003, Brenninkmeijer et al., plus references therein)  {6.E-34*((temp/300.)**(-2.4))*cair\;}
 <DG1001D17O> O2 + O3P {+M} = O2 + O3P + FO17O3 : {%StTrG} tag_kG1001 * (4./5.*e_G1001_dc17O)\; {&&}
;# <DG1001D17O> O2 + O3P {+M} = O2 + O3P + FO17O3 : {%StTrG} tag_kG1001 * (2./3.*e_G1001_dc17O + 1./3.*tag_src_fFO17O3P)\; {&&}
;# <DG1001D17O> O2 + O3P {+M} = O2 + O3P + FO17O3 - 0.333335 FO17O3P  : {%StTrG} (e_G1001_dc17O) * tag_kG1001\; {&&}

;# CO+OH MIF                                                                               {1.57E-13 + cair*3.54E-33\;}
 <DG4110D17O> CO + OH = CO + OH + FO17CO - 0.5 FO17CO2      : {%StTrG} tag_kG4110 * (e_G4110_dc17O)\; {&&}
;# <DG4110D17O> CO + OH = CO + OH + FO17CO - 0.5 FO17CO2      : {%StTrG} (e_G4110_dc17O) * tag_kG4110\; {&&}

;# IEXO05 = O3P <-> O2
; IEXO05  I17O2  = *0.9611
; IEXO05  I18O2  = *0.9235
 <DIEXO05D17O>  O2 + O3P = O2 + O3P + FO17O3P : {%StTrG} tag_kIEXO05 * (0.9611/0.9235**0.5281-1.0)\; {&&}

;# <J1001a> O3 + hv = O1D : {%*} tag_kJ1001a; {&&}
;# <J1001b> O3 + hv = O3P : {%*} tag_kJ1001b; {&&}
;  J1001a I18O3 = *0.978
;  J1001a I17O3 = *0.986
;# <DJ1001aD17O> O3 + hv = O3 + hv + FO17O1D : {%*} tag_kJ1001a * (0.978**0.5281/0.986-1.0)\; {&&}
;# <DJ1001bD17O> O3 + hv = O3 + hv + FO17O3P : {%*} tag_kJ1001b * (0.978**0.5281/0.986-1.0)\; {&&}

;# expecting d18O = 0 permil from OH and O1D source
; <G4101> CH4 + OH = CH3O2 + H2O : {%*} tag_kG4101; {&&} {?1}
; <G4100> CH4 + O1D = 0.75 CH3O2 + 0.75 OH + 0.25 HCHO + 0.4 H + 0.05 H2
 <DG4101D17O> CH4 + OH  = CH4 + OH + FO17CH3O2 + FO17H2O   : {%*} tag_kG4101 * ((1.0-(23.5*0.528)/1000)/(1.0-(23.5)/1000)**0.5281-1.0)\; {&&}
;# <DG4100D17O> CH4 + O1D = 0.75 CH3O2 + 0.75 OH + 0.25 HCHO : {%*} tag_kG4100 * ((1.0-(23.5*0.528)/1000)/(1.0-(23.5)/1000)**0.5281)\; {&&}

;# CO2 <-> O isotopic exchange via the quenching of O(1D)
;# Yung (1997), Johnston (2000), ...
 <IEXOCO2>    O1D + CO2 = CO2 + O3P                         : {%StTrG} 6.9E-11*exp(117./temp)\; {&Yung et al., JGR102 (1997)}



; === isotope exchange reactions section =======================================
[IEX]
; react.# = 2 exchanging species : {%Spec} rate ;

; --- Lyons [2001] is a general reference --- r-n (X) - v ---

; QH + H2O <-> OH + H2Q                               (X3) -> Dubey et al. (1997)
  IEXO01 = OH H2O  : {%StTrG} 2.3E-13*exp(-2100./temp)\; {&2703}

; QH + HO2 <-> OH + HOQ                               (X7) -> Dransfeld and Wagner (1987)
  IEXO02 = OH HO2  : {%StTrG} 1.7E-11*exp(+400./temp)\; {&2702}

; QH + NO  <-> NQ + OH                                (X4) -> Greenblatt and Howard (1989)
  IEXO03 = OH NO   : {%StTrG} 1.8E-11\; {&2703}

; QH + NO2 <-> NO2 + OH                               (X5) -> Greenblatt and Howard (1989)
  IEXO04 = OH NO2  : {%StTrG} 1.0E-11\; {&2701}

; badly quantified
; NOQ + H2O <-> NO2 + H2Q                             (X11) -> Jaffe and Klein (1966)
; IEXO.. = NO2 H2O : {%StTrG} 2.3E-13*exp(-2100./temp)
; careful, causes all NOx to lose D17O

; --- O3P <-> O2 ---

; Q + O2 <-> OQ + O                                   (X1) -> Anderson et al. [1985]
; Anderson et al. [1985]
  IEXO05 = O3P O2 : {%StTrG} 2.9E-12\; {&&2706}     ; {&2705} for Johnston et al. [2000]

; [1997.IJCK29.Wiegell,etal] (forward only)
; [2003.JCP119.Fleurat-Lessard,etal] (forward/backward => 18O KIE given)
;#IEXO05 = O3P O2 : {%StTrG} 1.2E-12*exp(+241./temp)\; {&&}

; --- half-experimental values? ---

; Q3P + NO <-> O3P + NQ                               (X2) -> Anderson et al. [1985]
  IEXO06 = O3P NO  : {%StTrG} 3.7E-11\; {&2706}

; IEXO.. = HO2 O2  : {%StTrG} 3.0E-17\; {&}           (X8) -> Sinha et al. [1987]
; careful, resets HO2 in the stratosphere

; NQ + NO2 <-> NO + NOQ                               (X9) -> Klein [1963]
  IEXO07 = NO NO2  : {%StTrG} 3.6E-14\; {&2707}

; END OF ISOT.EXCHANGE

; Zahn [2006] has many serious misprints/takes!!!



; === kinetic isotope effect section ===========================================
[xKIE]
; react.# = isotopologue  expression (*-like)

;// <IOE20> O3P + O2 = O2 + O3P : {%*} tag_kIOE20; {&&} {?1}
; <DIOE20FO17O3P> FO17O3P + O2 = O2 + FO17O2 : {%*} (2.0/3.0)*tag_kIOE20; {&&}
; <DIOE20FO17O2> FO17O2 + O3P = O3P + FO17O3P : {%*} (1.0/3.0)*tag_kIOE20; {&&}


; --- O3 -----------------------------------------------------------------------

; <J1001a> O3 + hv = O1D : {%*} tag_kJ1001a; {&&}
; <J1001b> O3 + hv = O3P : {%*} tag_kJ1001b; {&&}
;  J1001a I18O3 = *0.978
;  J1001a I17O3 = *0.986
;#  J1001a FO17O3 = *(0.986/0.978**0.5281)
;#  J1001b FO17O3 = *(0.986/0.978**0.5281)


; --- CH4 -> -------------------------------------------------------------------

; expecting d18O = 0 permil from OH and O1D source
; <G4101> CH4 + OH = CH3O2 + H2O : {%*} tag_kG4101; {&&} {?1}
; <G4100> CH4 + O1D = 0.75 CH3O2 + 0.75 OH + 0.25 HCHO + 0.4 H + 0.05 H2
; G4101  I18O2 = *(1.0-(23.5)/1000)
; G4101  I17O2 = *(1.0-(23.5*0.528)/1000)

;#  G4101 FO17O2 = /((1.0-(23.5*0.528)/1000)/(1.0-(23.5)/1000)**0.5281)
;#  G4100 FO17O2 = /((1.0-(23.5*0.528)/1000)/(1.0-(23.5)/1000)**0.5281)



; === reduced mass approximation for KIE section ===============================
[xKIE:RMA]
; set of reactions to assign RMA KIE to (wildcards can be used)
include = G* I*  ; G1* G2* G3* IOE* T*



; === sources specification section ============================================
[SRC]
; react.#/src.spec = dst.species

; CO2 <-> O isotopic exchange via the quenching of O(1D)
; Yung (1997), Johnston (2000), ...
; <IEXOCO2>    O1D + CO2 = CO2 + O3P                         : {%StTrG} 6.9E-11*exp(117./temp); {&Yung et al., JGR102 (1997)}
;#  IEXOCO2 1.33334 O1D = CO2 0.25 O3P
;#  IEXOCO2 1.33334 CO2 = CO2 0.25 O3P
  IEXOCO2 O1D = 2 CO2 1 O3P
  IEXOCO2 CO2 = 1 CO2 2 O3P

; --- oxygen transfer schemes --------------------------------------------------
; all except C chemistry
  {$INCLUDE <tag_IO.src>}
; MIM CH4+NHMCs
  {$INCLUDE <tag_IO-mmo.src>}
  {$INCLUDE <tag_IO-mim1.src>}
; MOM CH4+NHMCs
; {$INCLUDE <tag_IO-nmo.src>}
; {$INCLUDE <tag_IO-mom.src>}


; === END OF DATA ==============================================================

; --- notes --------------------------------------------------------------------
;
; parameters identifiers are case-sensitive!
; allowed delimiters: space, tab, null, esc, ':', ';'
; ';' starts a comment-string,
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
; please do not use spaces in filenames
;   template variables can be used only in keys names and values, not in the headers
;   there are no conditional blocks
;
; EOF
