;
; [Gromov, MPIC, 2017]
;
; im-tag configuration file
;
; #N# CH4 isotopic carbon 12/13 - MC box 4 PALMOD
; #K# b
;
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
;   ! do not use comments on the section header lines (i.e. [SUB])

; === general tagging information ==============================================
[TAG]
 cmodel=messy_mecca                ; carrier model (interface) prefix
 configuration=IH                  ; tagging abbr (can be TAG1 or I or ISO, any F90 identifier-correct)
 classes=I1 I2                     ; tagging classes (isotopologues)
 iatom=H                           ; isotope-atom name: optional
 imasses=1.00782504 2.01410178     ; isotope masses
;kieproc=                          ; KIE-procesing file: optional
;budget=CH4TN CH4TS CH4SN CH4SS

; --- user configuration parameters --------------------------------------------
; (will be passed to the generated code as conditional #define)
[CPARAMS]
 ISO                 ; general flag for isotopic cfg
;FRAC                ; general for fractional tagging

; initialisation units
 UNIT_DELTAPERMIL    ; as delta values
;UNIT_FRACMIN        ; as minor class fractions
;ONLY_MINOR          ; specify if only minor isotopologues should be treated, use with atom(s) = 1

; optional parameters
;OPT_LOW_FILTER      ; tagging: treshold cutoff optimisation
;OPT_C2R_FILTER      ; filter only largely deviated species in correct2reg
;OPT_USE_KRSIND      ; use kie-relates species indices for correction
;OPT_NEG_FILTER      ; check negative overshooting
 OPT_EXC_FILTER      ; check overshooting for fractional tagging

 OPT_NO_CORR         ; switch off regular <-> tagged mechs correction
;OPT_CORR_2TAG       ; specify if correction is done with tagged mech as a reference
;OPT_FTOT_WRTTAG     ; calculate fractions of totals w.r.t. to the tagged mech (not default)

;TAG_OPT_SKIP_XTRABOXPPROC ; by def. skip extra calc. (delta+totals) in the postprocessing (box-model opt.)
                           ; + don't forget to switch on in the Makefile!
 iMMCb               ; MC box for PALMOD CH4 isotopes

; tests
;ZERO_TEST           ; rare isotopologues initialized with 0 permil rel. to standard
;NULL_TEST           ; rare isotopologues / fraction are initialised emptied

; can be used only on SMIL-level, so taken out to {%CMODEL}_parameters.inc
 INITFAST_E5         ; fast first-step initialization of tagged species in E5M1/EMAC

; debug
;DEBUG
;DEEPDEBUG           ; gives lots of repetitive messages


; --- MECCA-specific parameters ------------------------------------------------
[MECCA]
 sisyntax=ind_@                         ; species index syntax
 ptsyntax=XPT@                          ; passive tracers naming
 trsyntax=TAG@                          ; tagged reaction naming
 eqn={%CMODEL}_{%CASE}.eqn              ; modified equation file
 spc={%CMODEL}_{%CASE}.spc              ; modified additional species file

 tracdef={%CMODEL}_{%TAG}.tex           ; additional tracers definition file
 cfgeqn={%CMODEL}_{%TAG}.eqn            ; configuration equation file to produce
 cfgspc={%CMODEL}_{%TAG}.spc            ; configuration species file to produce


; --- templates for tagging modules --------------------------------------------

; > these files are created to inter-connect all tagging configurations
[CODE]
 imtag_tag_common.f90={%CMODEL}_tag_common.f90          ; SMCL shared routines former
 imtag_param.inc={%CMODEL}_tag_parameters.inc           ; INCLUDE-file for tagging parameters (compilation/link)
 imtag_tag_box.f90={%CMODEL}_tag_box.f90                ; SMIL boxmodel driver former
 imtag_tag_si.f90={%CMODEL}_tag_si.f90                  ; SMIL si driver former

; > these files are created for each tagging configuration
[CODE:CONF]
 imtag_cfg.f90={%CMODEL}_{%TAG}.f90                     ; SMCL tagging cfg code former
 imtag_cfg_box.f90={%CMODEL}_{%TAG}_box.f90             ; SMIL CAABA tagging cfg code former
 imtag_cfg_si.f90={%CMODEL}_{%TAG}_si.f90               ; SMIL si tagging configuration code former


; === list of species to tag ===================================================
[SPC]
; syntax:
;  12C-13C/16O-17O-18O example, [ ] - optional, * - indicates fixed species
;
; /units = delta/
;  SPEC [atoms] = [d13C]      [*] ->  CO     1 = -20.0
;  SPEC [atoms] = [d17O d18O] [*] ->  CO     1 =   0.0  4.2
; /units = fraction/
;  SPEC [atoms] = [f13C]      [*] ->  C2H5OH 2 = 0.1
;  SPEC [atoms] = [f17O f18O] [*] ->  C2H5OH 2 = 0.004 0.002
;
; - optinal [atoms] value overrides those picked from SPC file
; - for molecular/fractional tagging all atom qties. should be set to 1 (supresses specific isotopic transfer)
;

;
; 1C               BM init

; box-apx. atmosphere CH4 compartments

  CH4TN      4 =    0.0      ; {@CH_4}              {methane: trop. NH}
  CH4TS      4 =    0.0      ; {@CH_4}              {methane: trop. SH}
  CH4SN      4 =    0.0      ; {@CH_4}              {methane: strat. NH}
  CH4SS      4 =    0.0      ; {@CH_4}              {methane: strat. SH}
  EMISTN     4 =    0.0      ; {@CH_4}              {species for NH emission}
  EMISTS     4 =    0.0      ; {@CH_4}              {species for SH emission}


; MC compartmental kinetics are included in the IC-iMMCb cfg.
[-ADD:SPC]
[-ADD:EQN]
[-IEX]
[-KIE:RMA]


; === kinetic isotope effect section ===========================================
[KIE]
; react.#     = isotopologue  expression (*-like)
; warning: reaction abbr. and spec. names are regexps

; - CARIBIC-2 MCbox isotope CO2 MC box -------
;
; // === photochemical sinks of CH4

; - CH4+O1D ---------------------------
; (R2) in [Zahn et al., ACP6, 2006] <- [Saueressig et al., JGRA106, 2001]
  rO1D.* I2CH4.* = /1.060_dp

; data: pi-tans_M / counterpart: ee / dT: 0
; dom./temp.      tau(OH)/(O1D)/(Cl)/(tot)        13C+OH/13C+O1D/13C+Cl/tot       2H+OH/+O1D/+Cl/tot
; atm/250.5752    9.338544/487.4042/656.4374/9.036841     1.0039/1.013/1.072771/1.005017  1.3125/1.06/1.598747/1.311759
; trop/256.9284   8.407296/9177.845/3193.837/8.377569     1.0039/1.013/1.069895/1.004081  1.311125/1.06/1.565166/1.311562
; strat/211.869   46.8387/62.13594/97.35928/20.95784      1.0039/1.013/1.073405/1.021931  1.367879/1.06/1.606146/1.315324
;
; average CH4 lifetimes & sink enrichments for iso-CH4 PALMOD MC box:
; data: pi-tans_M / counterpart: ee / dT: -6
; dom./temp.      tau(OH)/(O1D)/(Cl)/(tot)        13C+OH/13C+O1D/13C+Cl/tot       2H+OH/+O1D/+Cl/tot
; atm/256.5752    9.338544/487.4042/656.4374/9.036841     1.0039/1.013/1.071995/1.005006  1.307411/1.06/1.589538/1.306708
; trop/262.9284   8.407296/9177.845/3193.837/8.377569     1.0039/1.013/1.069254/1.00408   1.306107/1.06/1.557684/1.306543
; strat/217.869   46.8387/62.13594/97.35928/20.95784      1.0039/1.013/1.072599/1.021758  1.359907/1.06/1.596557/1.309693

; taking dT=-6 for LGM

; - CH4+OH ------------------------------------------------------
; recalc. [Saueressig et al., JGRA106, 2001] <- [Gierczak et al., JCPA101, 1997]
; T-dep. KIE: alpha = 1.097_dp*exp(49.0_dp/temp)
  rOH_T.* I2CH4.* = /kie_OH_T_2H  ;/1.306107_dp       ; trop. ave. value
  rOH_S.* I2CH4.* = /kie_OH_S_2H  ;/1.359907_dp       ; strat. ave. value

; - CH4+Cl ---------------------------------------------------------------------
; (R3) in [Zahn et al., ACP6, 2006] <- [Saueressig et al., JGRA106, 1996]
; T-dep. KIE: alpha = (1.278_dp*exp(51.31_dp/temp))
  rCl_T.* I2CH4.* = /1.557684_dp       ; trop. ave. value
  rCl_S.* I2CH4.* = /1.596557_dp       ; strat. ave. value

; - soil uptake ----------------------------------------------------------------
; 80 per mil [refs. from 2008.NAT452.Fischer,etal]
  usoil.* I2CH4.* = /(1.0_dp-80.e-3_dp)

; === sources specification section ============================================
; use xxxSRC to turn off temporarily source spec.
[-SRC]
; react.# = src.species
;G9999     = CO
;J4111     = TC


; === END OF DATA ==============================================================

; --- notes --------------------------------------------------------------------
;
; parameters identifiers are case-sensitive!
; allowed delimiters: space, tab, null, esc, ':', ';'
; ';' starts a comment,
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
; please do not use spaces in filenames
;   template variables can be used only in keys names and values, not in the headers
;   there are no conditional blocks
;
; EOF
