;
; [Gromov, MPIC, 2016-2020]
;
; im-tag configuration file
;
; #N# air/H2O/O3 oxygen tagging
; #K# O
;
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
;   ! do not use comments on the section header lines (i.e. [SUB])
;
; === general tagging information ==============================================
[TAG]
 cmodel=messy_mecca                     ; carrier model (interface) prefix
 configuration=FO                       ; tagging abbr (can be TAG1 or I or ISO, any F90 identifier-correct)
 classes=FOZ ;FOA FOW                   ; tagging classes (for isotopologues: can indicate masses)
 iatom=                                 ; atom name: when specified, indicates isotope-specific transfer scheme!
 imasses=                               ; isotope masses
 kieproc=                               ; KIE-procesing file
 budget=CO CO2 O3 H2O LCARBON
 dots=O2 O3 H2O > CO CO2
;eqnskip=G2117 G2118                    ; H2O dimer reactions

; --- user configuration parameters --------------------------------------------
; (will be passed to the generated code as conditional #define)
[CPARAMS]
;ISO                 ; general flag for isotopic cfg
 FRAC                ; general for fractional tagging

; initialisation units
;UNIT_DELTAPERMIL    ; as delta values
 UNIT_FRACMIN        ; as minor class fractions
;ONLY_MINOR          ; specify if only minor isotopologues should be treated, use with atom(s) = 1

; optional parameters
;OPT_LOW_FILTER      ; tagging: treshold cutoff optimisation
;OPT_C2R_FILTER      ; filter only largely deviated species in correct2reg
;OPT_USE_KRSIND      ; use kie-relates species indices for correction
;OPT_NEG_FILTER      ; check negative overshooting
 OPT_EXC_FILTER      ; check overshooting for fractional tagging

 OPT_NO_CORR         ; switch off regular <-> tagged mechs correction
;OPT_CORR_2TAG       ; specify if correction is done with tagged mech as a reference
;OPT_FTOT_WRTTAG     ; calculate fractions of totals w.r.t. to the tagged mech (not default)

; tests
;ZERO_TEST           ; rare isotopologues initialized with 0 permil rel. to standard
;NULL_TEST           ; rare isotopologues / fraction are initialised emptied

; can be used only on SMIL-level, so taken out to {%CMODEL}_parameters.inc
 INITFAST_E5         ; fast first-step initialization of tagged species in E5M1/EMAC

; debug
;DEBUG
;DEEPDEBUG           ; gives lots of repetitive messages


; --- MECCA-specific parameters ------------------------------------------------
[MECCA]
 sisyntax=ind_@                         ; species index syntax
 ptsyntax=XPT@                          ; passive tracers naming
 trsyntax=TAG@                          ; tagged reaction naming
 eqn={%CMODEL}_{%CASE}.eqn              ; modified equation file
 spc={%CMODEL}_{%CASE}.spc              ; modified additional species file

 tracdef={%CMODEL}_{%TAG}.tex           ; additional tracers definition file
 cfgeqn={%CMODEL}_{%TAG}.eqn            ; configuration equation file to produce
 cfgspc={%CMODEL}_{%TAG}.spc            ; configuration species file to produce


; --- templates for tagging modules --------------------------------------------

; > these files are created to inter-connect all tagging configurations
[CODE]
 imtag_tag_common.f90={%CMODEL}_tag_common.f90          ; SMCL shared routines former
 imtag_param.inc={%CMODEL}_tag_parameters.inc           ; INCLUDE-file for tagging parameters (compilation/link)
 imtag_tag_box.f90={%CMODEL}_tag_box.f90                ; SMIL boxmodel driver former
 imtag_tag_si.f90={%CMODEL}_tag_si.f90                  ; SMIL si driver former

; > these files are created for each tagging configuration
[CODE:CONF]
 imtag_cfg.f90={%CMODEL}_{%TAG}.f90                     ; SMCL tagging cfg code former
 imtag_cfg_box.f90={%CMODEL}_{%TAG}_box.f90             ; SMIL CAABA tagging cfg code former
 imtag_cfg_si.f90={%CMODEL}_{%TAG}_si.f90               ; SMIL si tagging configuration code former


; === list of species to tag ===================================================
[SPC]
;
; syntax:
;  1H-2H(d)/12C-13C/16O-17O-18O example, [ ] - optional, * - indicates fixed species
;
; /units = delta/
;  SPEC [atoms] = [dD]        [*] ->  CH4    4 = -90.0
;  SPEC [atoms] = [d13C]      [*] ->  CO     1 = -20.0
;  SPEC [atoms] = [d17O d18O] [*] ->  CO     1 =   0.0  4.2
; /units = fraction/
;  SPEC [atoms] = [f13C]      [*] ->  C2H5OH 2 = 0.1
;  SPEC [atoms] = [f17O f18O] [*] ->  C2H5OH 2 = 0.004 0.002
;
; - [*] specifies that tagging classes are nudged to given initial value
; - optinal [atoms] value overrides those picked from SPC file
; - for molecular/fractional tagging all atom qties. should be set to 1 (supresses specific isotopic transfer)
;
;          O-atoms     FOZ FOA FOW
  OH         1 =        0.  0.  0.
  O1D        1 =        0.  0.  0.
  O3P        1 =        0.  0.  0.
  O2         2 =       $0. $1.  0.
  O3         3 =       $1.  0.  0.
  HO2        2 =        0.  0.  0.
  H2O        1 =        0.  0. $1.
  H2OH2O     2 =        0.  0.  0.
  H2O2       2 =        0.  0.  0.
  N2O        1 =        0.  0.  0.
  NO         1 =        0.  0.  0.
  NO2        2 =        0.  0.  0.
  NO3        3 =        0.  0.  0.
  N2O5       5 =        0.  0.  0.
  HONO       2 =        0.  0.  0.
  HNO3       3 =        0.  0.  0.
  HNO4       4 =        0.  0.  0.
  CH3OH      1 =        0.  0.  0.
  CH3O2      2 =        0.  0.  0.
  CH3OOH     2 =        0.  0.  0.
  HCHO       1 =        0.  0.  0.    P L
  CO         1 =        0.  0.  0.    P L
  HCOOH      2 =        0.  0.  0.
  CO2        2 =        0.  0.  0.    P L
; LCARBON    2 =        0.  0.  0.    P L
; NMO chemistry 2014 (SG&DT)
;;changed for correct O3->CO transfer
  CH3O2NO2   2 =        0.  0.  0.         ; CH3O2-NO2 ; C +  3H + 4O + N   {peroxy methylnitrate}
  CH3NO3     2 =        0.  0.  0.         ; CH3O-NO2  ; C +  3H + 3O + N   {methylnitrate}
  CH3ONO     1 =        0.  0.  0.         ; CH3O-NO   ; C +  3H + 2O + N   {methylnitrite}
  HOCH2O2NO2 2 =        0.  0.  0.         ; HCOH*-NO2 ; C +  3H + 5O + N   {hydroxy peroxy methylnitrate}
;;
;;CH3O2NO2   4 =        0.  0.  0.         ; C +  3H + 4O + N   {peroxy methylnitrate}
;;CH3NO3     3 =        0.  0.  0.         ; C +  3H + 3O + N   {methylnitrate}
;;CH3ONO     2 =        0.  0.  0.         ; C +  3H + 2O + N   {methylnitrite}
  CH3O       1 =        0.  0.  0.    P    ; C +  3H + O        {methoxy radical}
  HOCH2O2    3 =        0.  0.  0.         ; C +  3H + 3O       {hydroxy methyl peroxy radical}
  HOCH2OOH   3 =        0.  0.  0.         ; C +  4H + 3O       {hydroxy methyl hydroperoxide}
;;HOCH2O2NO2 5 =        0.  0.  0.         ; C +  3H + 5O + N   {hydroxy peroxy methylnitrate}
  HOCH2OH    2 =        0.  0.  0.         ; C +  4H + 2O       {dyhydroxy methane}
  CH2OO      2 =        0.  0.  0.         ; C +  2H + 2O       {carbonyl oxide - stabilized Criegee Intermediate}
  NCO        1 =        0.  0.  0.
; MIM chemistry
  C2H5O2     2 =        0.  0.  0.
  C2H5OOH    2 =        0.  0.  0.
  CH3CHO     1 =        0.  0.  0.
  CH3CO2H    2 =        0.  0.  0.
  CH3CO3     3 =        0.  0.  0.
  CH3CO3H    3 =        0.  0.  0.
  NACA       4 =        0.  0.  0.
  PAN        5 =        0.  0.  0.
  IC3H7O2    2 =        0.  0.  0.
  IC3H7OOH   2 =        0.  0.  0.
  LHOC3H6O2  3 =        0.  0.  0.
  LHOC3H6OOH 3 =        0.  0.  0.
  CH3COCH3   1 =        0.  0.  0.
  CH3COCH2O2 3 =        0.  0.  0.
  HYPERACET  3 =        0.  0.  0.
  ACETOL     2 =        0.  0.  0.
  MGLYOX     2 =        0.  0.  0.
  MPAN       5 =        0.  0.  0.
  IC3H7NO3   3 =        0.  0.  0.
  LC4H9O2    2 =        0.  0.  0.
  LC4H9OOH   2 =        0.  0.  0.
  MVK        1 =        0.  0.  0.
  MVKO2      4 =        0.  0.  0.
  MVKOOH     4 =        0.  0.  0.
  MEK        1 =        0.  0.  0.
  LMEKO2     3 =        0.  0.  0.
  LMEKOOH    3 =        0.  0.  0.
  BIACET     2 =        0.  0.  0.
  LC4H9NO3   3 =        0.  0.  0.
  ISO2       3 =        0.  0.  0.
  ISOOH      3 =        0.  0.  0.
  ISON       5 =        0.  0.  0.
  ClO        1 =        0.  0.  0.
  HOCl       1 =        0.  0.  0.
  Cl2O2      2 =        0.  0.  0.
  OClO       2 =        0.  0.  0.
  ClNO2      2 =        0.  0.  0.
  ClNO3      3 =        0.  0.  0.
  BrO        1 =        0.  0.  0.
  HOBr       1 =        0.  0.  0.
  BrNO2      2 =        0.  0.  0.
  BrNO3      3 =        0.  0.  0.
  IO         1 =        0.  0.  0.
  OIO        2 =        0.  0.  0.
  I2O2       2 =        0.  0.  0.
  HOI        1 =        0.  0.  0.
  HIO3       3 =        0.  0.  0.
  INO2       2 =        0.  0.  0.
  INO3       3 =        0.  0.  0.
  SO2        2 =        0.  0.  0.
  H2SO4      4 =        0.  0.  0.
  CH3SO3H    3 =        0.  0.  0.
  DMSO       1 =        0.  0.  0.
  CH3SO2     2 =        0.  0.  0.
  CH3SO3     3 =        0.  0.  0.

; eval2.3 additions
  HNO        1 =        0.  0.  0.
  NHOH       1 =        0.  0.  0.
  NH2O       1 =        0.  0.  0.
  NH2OH      1 =        0.  0.  0.
; + neglected (irrelevant and/or commented out by the moment in gas.eqn)
; SO OCS HgO BrHgOBr ClHgOBr

; artificial
; OX         1 =        1.  0.  0.  ;    -1000.0 -1000.0
; OY         1 =        0.  1.  0.  ;        0.0     0.0


; === isotope exchange reactions section =======================================
[IEX]
; react.# = 2 exchanging species : {%Spec} rate ;

; --- Lyons [2001] is a general reference --- r-n (X) - v ---

; QH + H2O <-> OH + H2Q                               (X3) -> Dubey et al. (1997)
  IEXO01 = OH H2O  : {%StTrG} 2.3E-13*exp(-2100./temp)\; {&2703}

; QH + HO2 <-> OH + HOQ                               (X7) -> Dransfeld and Wagner (1987)
  IEXO02 = OH HO2  : {%StTrG} 1.7E-11*exp(+400./temp)\; {&2702}

; QH + NO  <-> NQ + OH                                (X4) -> Greenblatt and Howard (1989)
  IEXO03 = OH NO   : {%StTrG} 1.8E-11\; {&2701}

; QH + NO2 <-> NO2 + OH                               (X5) -> Greenblatt and Howard (1989)
  IEXO04 = OH NO2  : {%StTrG} 1.0E-11\; {&2701}

; badly quantified
; NOQ + H2O <-> NO2 + H2Q                             (X11) -> Jaffe and Klein (1966)
; IEXO.. = NO2 H2O : {%StTrG} 2.3E-13*exp(-2100./temp)
; careful, causes all NOx to lose D17O

; --- O3P <-> O2 ---

; Q(3P) + O2 <-> OQ + O(3P)                           (X1) -> Anderson et al. [1985]
;#Anderson et al. [1985]
;#IEXO05 = O3P O2 : {%StTrG} 2.9E-12\; {&&2706}     ; {&2705} for Johnston et al. [2000]
;#[1997.IJCK29.Wiegell,etal] (forward only)

; after [2003.JCP119.Fleurat-Lessard,etal] (forward/backward => 18O KIE given)
; from [2005.JGR110.Janssen]
;#IEXO05 = O3P O2 : {%StTrG} tag_kG1001 * m_IEXO05_G1001_k8a66\; {&&}
  IEXO05 = O3P O2 : {%StTrG} 3.4e-12*((300./temp)**(1.1))\; {&&}

; --- half-experimental values? ---

; Q3P + NO <-> O3P + NQ                               (X2) -> Anderson et al. [1985]
  IEXO06 = O3P NO  : {%StTrG} 3.7E-11\; {&2706}

; IEXO.. = HO2 O2  : {%StTrG} 3.0E-17\; {&}           (X8) -> Sinha et al. [1987]
; careful, resets HO2 in the stratosphere

; NQ + NO2 <-> NO + NOQ                               (X9) -> Klein [1963]
  IEXO07 = NO NO2  : {%StTrG} 3.6E-14\; {&2707}

; END OF ISOT.EXCHANGE

; Zahn [2006] has many serious misprints/takes!!!


; === additional reactions =====================================================
[ADD:EQN]

;# CO2 <-> O isotopic exchange via the quenching of O(1D)
;# Yung (1997), Johnston (2000), ...
 <IEXOCO2> O1D + CO2 = CO2 + O3P : {%StTrG} 6.9E-11*exp(117./temp)\; {&Yung et al., JGR102 (1997)}

;# additional pathway of O(1D) + O3 to the accounted one in MECCA
;#<G1002>  O3   + O1D      = 2 O2        : {%StG}   1.2E-10; {&&1945}
;<G1002e>  O3   + O1D      = O2 + 2 O3P  : {%StG}   8.E-12*EXP(-2060./temp)\; {&&1945} -- not needed since MIM


; === kinetic isotope effect section ===========================================
[KIE]
; react.# isotopologue = expression (*-like)


; === reduced mass approximation for KIE section ===============================
[KIE:RMA]
; set of reactions to assign RMA KIE to (wildcards can be used)


; === sources specification section ============================================
[SRC]
; react.#/src.spec = dst.species

; --- oxygen transfer schemes --------------------------------------------------
; all except C chemistry
  {$INCLUDE <tag_IO.src>}
; CH4 + oxidation
; {$INCLUDE <tag_IO-mmo.src>}
  {$INCLUDE <tag_IO-nmo.src>}
; NHMCs: MIM/MOM
  {$INCLUDE <tag_IO-mim1.src>}
; {$INCLUDE <tag_IO-mom.src>}

; handling O3 source specifics:
  G1001  O3 = O3

; === END OF DATA ==============================================================

; --- notes --------------------------------------------------------------------
;
; parameters identifiers are case-sensitive!
; allowed delimiters: space, tab, null, esc, ':', ';'
; ';' starts a comment-string,
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
; please do not use spaces in filenames
;   template variables can be used only in keys names and values, not in the headers
;   there are no conditional blocks
;
; EOF
