;
; [Gromov, MPIC, 2007-2015]
;
; im-tag configuration file
;
; #N# CO2 isotopic oxygen 16/17/18 - MC box 4 CARIBIC-2
; #K# a
;
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
;   ! do not use comments on the section header lines (i.e. [SUB])

; === general tagging information ==============================================
[TAG]
 cmodel=messy_mecca                     ; carrier model (interface) prefix
 configuration=IO                       ; tagging abbr (can be TAG1 or I or ISO, any F90 identifier-correct)
 classes=I16 I17 I18                    ; tagging classes (for isotopologues: can indicate masses)
 iatom=O                                ; atom name: optional
 imasses=15.994915 16.999133 17.999160  ; isotope masses
;kieproc=tag_IO.kie                     ; KIE-procesing file
;budget=FXindi FXredi FXfix FXresp


; --- user configuration parameters --------------------------------------------
; (will be passed to the generated code as conditional #define)
[CPARAMS]
 ISO                 ; general flag for isotopic cfg
;FRAC                ; general for fractional tagging

; initialisation units
 UNIT_DELTAPERMIL    ; as delta values
;UNIT_FRACMIN        ; as minor class fractions
;ONLY_MINOR          ; specify if only minor isotopologues should be treated, use with atom(s) = 1

; optional parameters
 OPT_LOW_FILTER      ; tagging: treshold cutoff optimisation
;OPT_C2R_FILTER      ; filter only largely deviated species in correct2reg
;OPT_USE_KRSIND      ; use kie-relates species indices for correction
;OPT_NEG_FILTER      ; check negative overshooting
;OPT_EXC_FILTER      ; check overshooting for fractional tagging

;OPT_NO_CORR         ; switch off regular <-> tagged mechs correction
;OPT_CORR_2TAG       ; specify if correction is done with tagged mech as a reference
;OPT_FTOT_WRTTAG     ; calculate fractions of totals w.r.t. to the tagged mech (not default)

;TAG_OPT_SKIP_XTRABOXPPROC ; by def. skip extra calc. (delta+totals) in the postprocessing (box-model opt.)
                           ; + don't forget to switch on in the Makefile!
 Rstd_VPDBCO2        ; use CO2 VSMOW isotope oxygen scale
 iCMCb               ; MC box for CARIBIC2 isotope CO2 obs. (for CAABA)

; --- MECCA-specific parameters ------------------------------------------------
[MECCA]
 sisyntax=ind_@                         ; species index syntax
 ptsyntax=XPT@                          ; passive tracers naming
 trsyntax=TAG@                          ; tagged reaction naming
 eqn={%CMODEL}_{%CASE}.eqn              ; modified equation file
 spc={%CMODEL}_{%CASE}.spc              ; modified additional species file

 tracdef={%CMODEL}_{%TAG}.tex           ; additional tracers definition file
 cfgeqn={%CMODEL}_{%TAG}.eqn            ; configuration equation file to produce
 cfgspc={%CMODEL}_{%TAG}.spc            ; configuration species file to produce


; --- templates for tagging modules --------------------------------------------

; > these files are created to inter-connect all tagging configurations
[CODE]
 imtag_tag_common.f90={%CMODEL}_tag_common.f90          ; SMCL shared routines former
 imtag_param.inc={%CMODEL}_tag_parameters.inc           ; INCLUDE-file for tagging parameters (compilation/link)
 imtag_tag_box.f90={%CMODEL}_tag_box.f90                ; SMIL boxmodel driver former
 imtag_tag_si.f90={%CMODEL}_tag_si.f90                  ; SMIL si driver former

; > these files are created for each tagging configuration
[CODE:CONF]
 imtag_cfg.f90={%CMODEL}_{%TAG}.f90                     ; SMCL tagging cfg code former
 imtag_cfg_box.f90={%CMODEL}_{%TAG}_box.f90             ; SMIL CAABA tagging cfg code former
 imtag_cfg_si.f90={%CMODEL}_{%TAG}_si.f90               ; SMIL si tagging configuration code former


; --- list of species to tag ---------------------------------------------------
[SPC]
; syntax:
;  12C-13C/16O-17O-18O example, [ ] - optional, * - indicates fixed species
;
; /units = delta/
;  SPEC [atoms] = [d13C]      [*] ->  CO     1 = -20.0
;  SPEC [atoms] = [d17O d18O] [*] ->  CO     1 =   0.0  4.2
; /units = fraction/
;  SPEC [atoms] = [f13C]      [*] ->  C2H5OH 2 = 0.1
;  SPEC [atoms] = [f17O f18O] [*] ->  C2H5OH 2 = 0.004 0.002
;
; - optinal [atoms] value overrides those picked from SPC file
; - for molecular/fractional tagging all atom qties. should be set to 1 (supresses specific isotopic transfer)
;
;        O-atoms      d17O    d18O

; CARIBIC-2 MCbox CO2 counterparts
  HL         2 =          0.163992454  0.50    ;  ~ -0.100 permil in D17O(CO2)
  LL         2 =          0.401532438  0.95    ;  ~ -0.100 permil in D17O(CO2)
  BL         2 =          0.0          0.0
  UA         2 =          0.0          0.0
  PC         2 =          0.0          0.0
  FC         2 =          0.0          0.0
  RC         2 =         -3.173099041 -6.0     ;* ~  0.000 permil in D17O(CO2)
;#RC         2 =         -4.232806189 -8.0     ;* ~  0.000 permil in D17O(CO2)
  CM         2 =          0.0          0.0
; fluxes
  FXindi     2 =          0.0          0.0     ;  CO2 photosynt. diff. influx
  FXredi     2 =          0.0          0.0     ;  CO2 photosynt. diff. retroflux
  FXfix      2 =          0.0          0.0     ;  CO2 fixation
  FXresp     2 =          0.0          0.0     ;  CO2 respiration flux

; === isotope exchange reactions section =======================================
[IEX]

; isotope exchange with liq. water (d18EW signature is in invariable RC,
; leads to rapid setting of d18PC and hence d18FC)
  IEXPC = PC RC : {%StTrG} 1e-6*k_adv\;

; === additional species & reactions ===========================================
; MC compartmental kinetics are included in the IC-iCMCb cfg.
[-ADD:SPC]
[-ADD:EQN]


[KIE:RMA]
[KIE]
; react.# = isotopologue  expression (*-like)

; - CARIBIC-2 MCbox isotope CO2 MC box -------
;
; // === biospheric CO2 interaction ===
; // --- photosynthetic uptake ---
; //     (retro-)diffusion
; <G_diffusion>   BL = PC + FXindi    : {%TrG}  k_d; {&&}
; <G_retrodiff>   PC = BL + FXredi    : {%TrG}  k_d; {&&}
; diff. fractionation a
  .*indif.* I18.+ = /(1.0+eps_13C_dif*2.)
  .*indif.* I17.+ = /(1.0+eps_13C_dif*2.*0.5279)
  .*redif.* I18.+ = /(1.0+eps_13C_dif*2.)
  .*redif.* I17.+ = /(1.0+eps_13C_dif*2.*0.5279)

; //     uptake
; <G_fixation>    PC = Dummy + FXfix  : {%TrG}  k_f; {&&}
;** G.*fix.*  I18.+ = /(1.0+eps_13C_dif/1e3)
;** -- TODO

; // --- respiraton (breathing of plant(/soil?)) ---
; !! assuming diffusion fractionation acts here too
; <resp2BL>  RC = BL + FXresp    : {%TrG}  k_resp; {&&}
  .*resp.* I18.+ = /(1.0+eps_13C_dif*2.)
  .*resp.* I17.+ = /(1.0+eps_13C_dif*2.*0.5279)



[SRC]

; === END OF DATA ==============================================================

; --- notes --------------------------------------------------------------------
;
; parameters identifiers are case-sensitive!
; allowed delimiters: space, tab, null, esc, ':', ';'
; ';' starts a comment-string,
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
; please do not use spaces in filenames
;   template variables can be used only in keys names and values, not in the headers
;   there are no conditional blocks
;
; EOF
