;
; [Gromov, MPIC, 2007-2012]
;
; im-tag configuration file
;
; #N# ORACLE generations tagging
; #K# g
;
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
;   ! do not use comments on the section header lines (i.e. [SUB])

; === general tagging information ==============================================
[TAG]
cmodel=messy_mecca                ; carrier model (interface) prefix
configuration=FORG                ; tagging abbr (can be TAG1 or I or ISO, any F90 identifier-correct)
classes=OG1 OG2 OG3 OG4 OG5 OG6   ; oracle generation number  ; number of tagging classes (# of isotopologues)
iatom=                            ; isotope-atom name: optional
imasses=                          ; isotope masses: optional
kieproc=                          ; KIE-procesing file: optional
budget=OH

; --- user configuration parameters --------------------------------------------
; (will be passed to the generated code as conditional #define)
[CPARAMS]
;ISO                 ; general flag for isotopic cfg
 FRAC                ; general for fractional tagging

; initialisation units
;UNIT_DELTAPERMIL    ; as delta values
 UNIT_FRACMIN     ; as minor class fractions
;ONLY_MINOR          ; specify if only minor isotopologues should be treated, use with atom(s) = 1

; optional parameters
;OPT_LOW_FILTER      ; tagging: treshold cutoff optimisation
;OPT_C2R_FILTER      ; filter only largely deviated species in correct2reg
;OPT_USE_KRSIND      ; use kie-relates species indices for correction
;OPT_NEG_FILTER      ; check negative overshooting
 OPT_EXC_FILTER      ; check overshooting for fractional tagging

 OPT_NO_CORR         ; switch off regular <-> tagged mechs correction
;OPT_CORR_2TAG       ; specify if correction is done with tagged mech as a reference
;OPT_FTOT_WRTTAG     ; calculate fractions of totals w.r.t. to the tagged mech (not default)


; --- MECCA-specific parameters ------------------------------------------------
[MECCA]
sisyntax=ind_@                         ; species index syntax
ptsyntax=XPT@                          ; passive tracers naming
trsyntax=TAG@                          ; tagged reaction naming
eqn={%CMODEL}_{%CASE}.eqn              ; modified equation file
spc={%CMODEL}_{%CASE}.spc              ; modified additional species file

tracdef={%CMODEL}_{%TAG}.tex           ; additional tracers definition file
cfgeqn={%CMODEL}_{%TAG}.eqn            ; configuration equation file to produce
cfgspc={%CMODEL}_{%TAG}.spc            ; configuration species file to produce


; --- templates for tagging modules --------------------------------------------

; > these files are created to inter-connect all tagging configurations
[CODE]
imtag_tag_common.f90={%CMODEL}_tag_common.f90          ; SMCL shared routines former
imtag_param.inc={%CMODEL}_tag_parameters.inc           ; INCLUDE-file for tagging parameters (compilation/link)
imtag_tag_box.f90={%CMODEL}_tag_box.f90                ; SMIL boxmodel driver former
imtag_tag_si.f90={%CMODEL}_tag_si.f90                  ; SMIL si driver former

; > these files are created for each tagging configuration
[CODE:CONF]
imtag_cfg.f90={%CMODEL}_{%TAG}.f90                     ; SMCL tagging cfg code former
imtag_cfg_box.f90={%CMODEL}_{%TAG}_box.f90             ; SMIL CAABA tagging cfg code former
imtag_cfg_si.f90={%CMODEL}_{%TAG}_si.f90               ; SMIL si tagging configuration code former


; === list of species to tag ===================================================
[SPC]
; syntax:
;  12C-13C/16O-17O-18O example, [ ] - optional, * - indicates fixed species
;
; /units = delta/
;  SPEC [atoms] = [d13C]      [*] ->  CO     1 = -20.0
;  SPEC [atoms] = [d17O d18O] [*] ->  CO     1 =   0.0  4.2
; /units = fraction/
;  SPEC [atoms] = [f13C]      [*] ->  C2H5OH 2 = 0.1
;  SPEC [atoms] = [f17O f18O] [*] ->  C2H5OH 2 = 0.004 0.002
;
; - optinal [atoms] value overrides those picked from SPC file
; - for molecular/fractional tagging all atom qties. should be set to 1 (supresses specific isotopic transfer)
;
;# source species
  FFCG01   1 = 1 0 0 0 0 0 *
  FFCG02   1 = 1 0 0 0 0 0 *
  FFCG03   1 = 1 0 0 0 0 0 *
  FFCG04   1 = 1 0 0 0 0 0 *
  FFCG05   1 = 1 0 0 0 0 0 *
  FFCG06   1 = 1 0 0 0 0 0 *
  FFCG07   1 = 1 0 0 0 0 0 *
  FFCG08   1 = 1 0 0 0 0 0 *
  FFCG09   1 = 1 0 0 0 0 0 *
  FFCG10   1 = 1 0 0 0 0 0 *

;# oxid. products
  FFsCG01  1 = 0 0 0 0 0 0
  FFsCG02  1 = 0 0 0 0 0 0
  FFsCG03  1 = 0 0 0 0 0 0
  FFsCG04  1 = 0 0 0 0 0 0
  FFsCG05  1 = 0 0 0 0 0 0
  FFsCG06  1 = 0 0 0 0 0 0
  FFsCG07  1 = 0 0 0 0 0 0
  FFsCG08  1 = 0 0 0 0 0 0
  FFsCG09  1 = 0 0 0 0 0 0
  FFsCG10  1 = 0 0 0 0 0 0


; === shifts specification section =============================================
; <spec>  +/-  = <REAC> <REAC> ... : products "shifted out" of the first/last class are gone
; <spec> ++/-- = <REAC> <REAC> ... : "shifted" products are accumulated in the first/last class
[SHF]

; all progress to the next class, accumulate in the last one
  .+ ++ = G.+CG[3-9] G.+CG1[0-9]

[-ADD:SPC]
[-ADD:EQN]
; no additional species/reactions

[-IEX]
; no isotope exchange

[-KIE]
; no KIE

; === sources specification section ============================================
; use xxxSRC to turn off temporarily source spec.
[-SRC]
; react.# = src.species
;G9999     = CO
;J4111     = TC

; === END OF DATA ==============================================================

; --- notes --------------------------------------------------------------------
;
; parameters identifiers are case-sensitive!
; allowed delimiters: space, tab, null, esc, ':', ';'
; ';' starts a comment-string,
;   ! do not use comments on the lines with NULL argument (i.e. param=  )
; please do not use spaces in filenames
;   template variables can be used only in keys names and values, not in the headers
;   there are no conditional blocks
;
; EOF
